body {
  padding: 0px;
  margin: 0px;
  margin: auto;
  width: 1200px;
  font-size: 11pt;
  background-image: url("../img/tile.jpg");
  color: white;
  font-family: Helvetica, sans-serif;
}

main {
  float: left;
  width: 100%;
}

header {
  height: 80px;
  width: 100%;
  text-align: left;
  font-family: "Patrick Hand", cursive;
  color: rgb(64, 213, 224);
}

header h1 {
  font-size: 40pt;
}

.side-column {
  width: 176px;
  height: 650px;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.center-column {
  width: 800px;
  height: 650px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.center-column::-webkit-scrollbar {
  display: none;
}

.side-box {
  backdrop-filter: blur(5px);
  border: 2px white solid;
  border-radius: 5px;
  padding: 4px;

}

.navigation-box {
  height: 233px;
  margin-bottom: 20px;
  padding: 5px;
}

h2 {
  color: rgb(255, 174, 0);
}

.links-box {
  height: 191px;

}

.gif-box {
  height: 150px;
  margin-bottom: 20px;
}

.login-box {
  height: 200px;
  margin-bottom: 20px;
}

.chat-box {
  height: 407px;
}


.link {
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

.link:hover {
  color: rgb(64, 213, 224);
}

h2 {
  font-size: 13pt;
}

.gif-box img {
  width: 100%;
}

.post {
  border: 2px white solid;
  border-radius: 5px;
  width: 778px;
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  float: left;
  padding: 8px;
}

.post-title {
  color: rgb(64, 213, 224);
}

.last-post {
  margin-bottom: 0px;
}

footer {
  color: rgb(116, 116, 116);
  padding-left: 120px;
  height: 100px;

}

footer h3 {
  float: left;
  margin-top: 30px;
  font-size: 12pt;
}

footer ul {
  list-style-type: none;
  float: left;
}

footer li {

  margin-right: 10px;

}

footer li a {
  color: rgb(116, 116, 116);
}