body {
    background-image: url("../img/tile-blurred.jpg");
}

.leave-comment {
  border: 2px white solid;
  border-radius: 5px;
  width: 778px;
  backdrop-filter: blur(5px);
  margin-bottom: 0px;
  float: left;
  padding: 8px;
}

.leave-comment textarea {
    resize: none;
}